<%= govuk_breadcrumbs 'Sections': synonyms_sections_path,
                      'Chapters': synonyms_section_chapters_path(section_id: chapter.section.id),
                      'Search references': synonyms_chapter_search_references_path(chapter) %>

<h2>New Search reference</h2>

<%= govuk_form_for search_reference, url: synonyms_chapter_search_references_path(chapter), as: :search_reference do |f| %>
  <%= f.govuk_text_field :title, width: 'one-half' %>

  <%= submit_and_back_buttons f, synonyms_chapter_search_references_path(chapter) %>
<% end %>

