README.md
coverage/
db/development.sqlite3
db/test.sqlite3
docs
log/*.log
node_modules
spec/
terraform/
vendor/bundle/
.env.development
.env.test
.erb-lint.yml
.eslintrc.yml
.markdownlint.yaml
.pre-commit-config.yaml
.rspec
.rubocop.yml
CONTRIBUTING.md
Dockerfile
LICENSE.md
Makefile

.nix/
flake.nix
flake.lock
.direnv/
.envrc

.git/
.github/
.ruby-lsp/
