/.bundle
/db/*.sqlite3
/log/*.log
/tmp
.rbenv*
.rvm*
coverage
db/schema.rb
/spec/reports
*manifest.yml
cf-ssh.yml
.byebug_history
.ruby-gemset
.idea/*
REVISION
.env
public/packs
public/packs-test
public/uploads/*
public/assets/*
.nvimlog
vendor
.env
.env.*.local
/node_modules
yarn-error.log
.byebug_history
.direnv

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
