/.bundle
/db/*.sqlite3
/log/*.log
/tmp
.rbenv*
.rvm*
coverage
db/schema.rb
/spec/reports
*manifest.yml
cf-ssh.yml
.ruby-gemset
.idea/*
REVISION
.env
public/uploads/*
public/assets/*
.nvimlog
vendor
.env
.env.*.local
/node_modules
