<%= govuk_breadcrumbs 'Sections': references_sections_path,
                      'Headings': references_chapter_headings_path(chapter_id: heading.chapter.id),
                      'Search reference': references_heading_search_references_path(heading) %>

<h2>New Search reference</h2>

<%= govuk_form_for search_reference, url: references_heading_search_references_path(heading), as: :search_reference do |f| %>
  <%= f.govuk_text_field :title, width: 'one-half' %>

  <%= submit_and_back_buttons f, references_heading_search_references_path(heading) %>
<% end %>

