@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-global-styles: true;
$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/dist/govuk/all";

.govuk-auto-classes {
  h1 { @extend .govuk-heading-l ; }
  h2 { @extend .govuk-heading-m ; }
  h3 { @extend .govuk-heading-s ; }
  table { @extend .govuk-table ; }
  thead { @extend .govuk-table__head !optional ; }
  tbody { @extend .govuk-table__body !optional ; }
  tr { @extend .govuk-table__row !optional ; }
  th { @extend .govuk-table__header ; }
  td { @extend .govuk-table__cell ; }
}

.govuk-notification-banner--error {
  border-color: $govuk-error-colour;
  background-color: $govuk-error-colour;
}

.govuk-phase-banner__content {
  width: 100%;
}

.govuk-phase-banner__text.current-user {
  text-align: right
}

.govuk-phase-banner a {
  margin-left: 0.6em ;
}

.hott-non-breaking {
  white-space: nowrap;
}

.hott-link-group {
  a { margin-right: 0.6em }
}

.hott-actions-col {
  @include govuk-media-query($from: tablet) {
    width: 20%
  }
}

.hott-markdown-preview {
  ul {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

  ol {
    @extend .govuk-list;
    @extend .govuk-list--number;
  }

  pre {
    background-color: govuk-colour("light-grey");
    padding: govuk-spacing(3);
    border: 1px solid govuk-colour("mid-grey");
    overflow-x: auto;
    @include govuk-font($size: 16);

    code {
      background: none;
      padding: 0;
      border: none;
    }
  }

  code {
    @include govuk-font($size: 16);
    background-color: govuk-colour("light-grey");
    padding: 2px 4px;
    border-radius: 2px;
  }
}

.table {
  .align-right {
    text-align: right;
  }

  .grey-background {
    background-color: govuk-colour("light-grey");
    padding-right: 1em !important;
  }

  .mono-font {
    font-family:courier, monospace;
  }
}

.govuk-service-navigation {
  border-bottom: none;

  .govuk-width-container {
    border-bottom: 1px solid $govuk-border-colour;
  }
}

.app-sub-navigation {
  background-color: govuk-colour("white");

  &__list {
    @include govuk-width-container;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 1px solid govuk-colour("mid-grey");

    @include govuk-media-query($from: tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    @include govuk-media-query($from: tablet) {
      margin-right: govuk-spacing(4);
    }
  }

  &__item--current {
    @include govuk-media-query($from: tablet) {
      border-bottom: 3px solid govuk-colour("blue");
    }

    @include govuk-media-query($until: tablet) {
      border-left: 3px solid govuk-colour("blue");
    }
  }

  &__link {
    @include govuk-font($size: 16);
    display: block;
    padding: govuk-spacing(2) 0;
    color: govuk-colour("blue");
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: govuk-colour("dark-blue");
    }

    &:focus {
      @include govuk-focused-text;
    }

    @include govuk-media-query($until: tablet) {
      padding-left: govuk-spacing(2);
    }
  }

  &__item--current &__link {
    font-weight: bold;
  }
}

#ca-search-container {
  display: flex;
}

#search-section {
  flex: 1;
}

#result-section {
  flex: 4;
  padding: 20px;
}
