@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-global-styles: true;
$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";

.govuk-auto-classes {
  h1 { @extend .govuk-heading-l ; }
  h2 { @extend .govuk-heading-m ; }
  h3 { @extend .govuk-heading-s ; }
  table { @extend .govuk-table ; }
  thead { @extend .govuk-table__head !optional ; }
  tbody { @extend .govuk-table__body !optional ; }
  tr { @extend .govuk-table__row !optional ; }
  th { @extend .govuk-table__header ; }
  td { @extend .govuk-table__cell ; }
}

.govuk-notification-banner--error {
  border-color: $govuk-error-colour;
  background-color: $govuk-error-colour;
}

.govuk-phase-banner__content {
  width: 100%;
}

.govuk-phase-banner__text.current-user {
  text-align: right
}

.govuk-phase-banner a {
  margin-left: 0.6em ;
}

.non-breaking {
  white-space: nowrap;
}

