@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-global-styles: true;
$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/dist/govuk/all";

.govuk-auto-classes {
  h1 { @extend .govuk-heading-l ; }
  h2 { @extend .govuk-heading-m ; }
  h3 { @extend .govuk-heading-s ; }
  table { @extend .govuk-table ; }
  thead { @extend .govuk-table__head !optional ; }
  tbody { @extend .govuk-table__body !optional ; }
  tr { @extend .govuk-table__row !optional ; }
  th { @extend .govuk-table__header ; }
  td { @extend .govuk-table__cell ; }
}

.govuk-notification-banner--error {
  border-color: $govuk-error-colour;
  background-color: $govuk-error-colour;
}

.govuk-phase-banner__content {
  width: 100%;
}

.govuk-phase-banner__text.current-user {
  text-align: right
}

.govuk-phase-banner a {
  margin-left: 0.6em ;
}

.hott-non-breaking {
  white-space: nowrap;
}

.hott-link-group {
  a { margin-right: 0.6em }
}

.hott-actions-col {
  @include govuk-media-query($from: tablet) {
    width: 20%
  }
}

.hott-markdown-preview {
  ul {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

  ol {
    @extend .govuk-list;
    @extend .govuk-list--number;
  }
}

.table {
  .align-right {
    text-align: right;
  }

  .grey-background {
    background-color: govuk-colour("light-grey");
    padding-right: 1em !important;
  }

  .mono-font {
    font-family:courier, monospace;
  }
}
