<h2>Additional events</h2>

<table class='table'>
  <thead>
    <tr>
      <th>Event date</th>
      <th>Event type</th>
      <th>Critical state</th>
    </tr>
  </thead>
  <tbody>

  <% quota_definition.additional_events.each do |additional_event| %>
    <tr>
      <td><%= additional_event.event_date&.to_date&.to_formatted_s(:govuk_short) %></td>
      <td><%= additional_event.event_type %></td>
      <td><%= additional_event.try(:critical_state).presence || 'n/a' %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
