<h2>Search for a quota order number</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_form_for @quota_search, url: perform_quota_search_path, method: :get do |f| %>
      <%= f.govuk_text_field :order_number, label: { text: "Enter the 6-digit quota order number ID to return the details of the quota's definitions,
      balance updates and other events." }, width: 'one-third' %>

      <%= f.govuk_submit 'Search' %>
    <% end %>
  </div>
</div>
