<%= govuk_breadcrumbs "Intercepts": description_intercepts_path, @description_intercept.term => description_intercept_path(@description_intercept) %>

<h1 class="govuk-heading-l">Edit description intercept</h1>

<%= render 'form', description_intercept: @description_intercept %>
