<h1>
  Edit Section Note
</h1>

<%= govuk_form_for @section_note, url: notes_section_section_note_url(@section) do |f| %>
  <%= f.govuk_text_field :section_title, disabled: true, value: @section.title %>

  <%= render 'fields', f: f %>
<% end %>

<h3>
  Remove section note
</h3>

<p>
  Remove this section note
</p>

<%= link_to "Remove", notes_section_section_note_path(@section),  method: :delete, data: { confirm: 'Are you sure?', disable: 'Working'}, class: 'govuk-button govuk-button--warning' %>

