<%= govuk_breadcrumbs "Configurations": classification_configurations_path %>

<h1 class="govuk-heading-l">Edit Configuration: <%= @configuration.display_name %></h1>

<%= render "form", configuration: @configuration %>
