<%= govuk_breadcrumbs 'Sections': synonyms_sections_path,
                      'Headings': synonyms_chapter_headings_path(chapter_id: heading.chapter.id),
                      'Search Synonyms': synonyms_heading_search_references_path(heading) %>

<h2>New Search Synonym</h2>

<%= govuk_form_for search_reference, url: synonyms_heading_search_references_path(heading), as: :search_reference do |f| %>
  <%= f.govuk_text_field :title, width: 'one-half' %>

  <%= submit_and_back_buttons f, synonyms_heading_search_references_path(heading) %>
<% end %>

