<details>
  <summary><%= tariff_update.exception_class %></summary>

  <% if tariff_update.exception_queries %>
    <div>queries:</div>
    <pre><%= tariff_update.exception_queries %></pre>
  <% end %>
  <% if tariff_update.exception_backtrace %>
    <div>backtrace:</div>
    <pre><%= tariff_update.exception_backtrace %></pre>
  <% end %>
</details>
