<details>
  <summary><%= pluralize tariff_update.presence_errors.count, "Presence error" %></summary>

  <table>
    <thead>
      <tr>
        <th>Model</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% tariff_update.presence_errors.each do |presence_error| %>
        <tr>
          <td><%= presence_error["model_name"] %></td>
          <td class="details"><%= presence_error["details"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</details>
