<div id="import-export-references">
  <h3>Import and Export search references</h3>

  <p>
    Import multiple search references from a CSV file
  </p>

  <%= link_to references_import_path, class: 'govuk-button' do %>
    Import search references CSV
  <% end %>

  <p>
    Export all search references as a CSV file
  </p>

  <%= button_to 'Export all search references as CSV',
                 references_export_path,
                 method: :post, class: 'govuk-button'
  %>
</div>
