<div class="govuk-phase-banner auth-banner">
  <div class="govuk-phase-banner__content">
    <% if service_switcher_enabled? %>
      <div class="govuk-phase-banner__text current-service">
        You are currently using the
        <%= TradeTariffAdmin::ServiceChooser.service_name.upcase %>
        service

        <%= switch_service_link class: 'hott-non-breaking' %>
      </div>
    <% end %>

    <% if respond_to?(:current_user) %>
      <div class="govuk-phase-banner__text current-user">
        You are signed in as <%= current_user.name %>

        <%= link_to 'Sign out', gds_sign_out_path, class: 'hott-non-breaking' %>
      </div>
    <% end %>
  </div>
</div>
