<h2>Reports</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Format</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr id="table-reports">
      <td>
        Commodities extract
      </td>
      <td>
        All the commodities
      </td>
      <td>
        CSV
      </td>
      <td>
        <%= link_to 'Download', "#{TradeTariffAdmin::ServiceChooser.api_host}/admin/commodities.csv" %>
      </td>
    </tr>
  </tbody>
</table>
